---
import ChargeSection from '../components/ChargeSection.astro';
import HeroSection from '../components/HeroSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coches eléctricos, energía solar y limpia | Tesla">
	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div id="Home" class="snap-center">
			<HeroSection />
		</div>
		<div id="Model3" class="snap-center">
			<ChargeSection 
				title="Model 3" 
				subtitle="Starting at $32,740" 
				text="After Federal Tax Credit"
				imgSrc="/Model-3.avif" />
		</div>
		<div id="ModelY" class="snap-center">
			<ChargeSection 
				title="Model Y" 
				subtitle="Starting at $39,990" 
				text="After Federal Tax Credit"
				imgSrc="/Model-Y.avif" />
		</div>
		<div id="ModelS" class="snap-center">
			<ChargeSection 
				title="Model S" 
				subtitle="View Inventory" 
				imgSrc="/Model-S.avif" />
		</div>
		<div id="ModelX" class="snap-center">
			<ChargeSection 
				title="Model X" 
				subtitle="View Inventory" 
				imgSrc="/Model-X.avif" />
		</div>
		<div id="Panels" class="snap-center">
			<ChargeSection 
				title="Solar Panels" 
				subtitle="Schedule a Virtual Consultation" 
				imgSrc="/S-panels.avif" />
		</div>
		<div id="Roof" class="snap-center">
			<ChargeSection 
				title="Solar Roof" 
				text="Produce Clean Energy From Your Roof" 
				imgSrc="/S-roof.avif" />
		</div>
	</main>
</Layout>

<style>
	*{
		overflow: hidden;
	}
</style>